/*===============================================================
	Contact us page
=================================================================*/
#mail-msg-alert {
	margin-bottom: 3rem;
}
#mail-msg-alert button.btn {
	display: table;
	margin: 0 auto;
}
#mail-msg {
	color: $color-white;
}
#mail-msg:hover {
	text-decoration: none;
}
.contact-section {
	margin-top: 4rem;

	&__widget {
		margin-bottom: 2rem;
	}

	.social-list {
		@include display-flex;
		justify-content: flex-start;

		li:not(:last-child) {
			margin-right: 20px;
		}

		i {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: $color-text;
			border: 1px solid $color-text;
			background-color: transparent;
			transition: all .3s;

			&:hover {
				color: $color-white;
				border-color: transparent;
				background-color: $color-text;
			}
		}
	}
}
.dark .contact-section .social-list i {
	color: $light-bg2;
	border-color: $light-bg2;
	transition: all .3s;

	&:hover {
		color: $color-white;
		border-color: $color-white;
	}
}
.contact-map {
	position: relative;
	padding-bottom: 34%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.contact-banner-box {
	background-image: url('../img/contact-banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
    background-color: #0000008c;
	padding: 150px;

	.banner-txt {
		text-align: center;

		h2 {
			color: #fff;
			font-size: 50px;
            font-weight: 700;
		}

		p {
			color: #fff;
		}
	}
}


.cont3-box {
        background-color: #ffffffd9;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 20px;
		border-radius: 20px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	   .cont3-icon-box i {
			background-color: #007e7e;
			color: #fff;
			padding: 20px;
			font-size: 25px;
			border-radius: 50%;
			width: 65px;
			height: 65px;
			line-height: 28px;
			text-align: center;
		}

		.cont3-txt-box {
			margin-left: 35px;
		}	
	}

.contact-form {
    width: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}
